/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Pacifico&display=swap');
/* Tailwind */
@import "tailwindcss";
/* Colors */
:root{
    --bgLight: #D9D9D9;
    --bgDark:  #222222;
    --borderLight:#222222;
    --textLight: #222222;
    --textDark:#ECECEC;
    --textMini: #b8b8b8;
    --textMiniDark: #343434;
    --textSec:#73777c;
    --btnBg: #000000;
    --btnText:#ECECEC;
    --btnTextDark:#222222;
    --btnBgDark:#cfcfcf;
    --textSecDark:#616365;
    --sectionLight:#E6E6E6;
    --sectionDark:#292929;
    --shapeLight: #d2d2d2;
    --shapeDark:#272727;
    --accent:#8B5CF6;
}
.dark{
    --bgLight:var(--bgDark);
    --textLight: var(--textDark);
    --sectionLight: var(--sectionDark);
    --shapeLight: var(--shapeDark);
    --textSec:var(--textSecDark);
    --textMini: var(--textMiniDark);
    --btnBg: var(--btnBgDark);
    --btnText:var(--btnTextDark);
    --borderLight:#b6b6b6;
}
html.transitioning {
  transition: none;
}

html.transitioning::before {
  content: "";
  position: fixed;
  inset: 0;
  background: var(--bg);
  animation: fadeTheme 0.4s ease forwards;
  pointer-events: none;
  z-index: 9999;
}

@keyframes fadeTheme {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Smooth transition for all elements */



/* Custom Font classes */
.font-inter {
    font-family: Inter;
}
.font-outfit {
  font-family: Outfit;
}
.font-dm {
    font-family: DM Sans;
}
.font-logo{
    font-family:Berkshire Swash ;
}
body{
    background-color: var(--bgLight);
}
#expText {
    -webkit-text-stroke: 2px  var(--textLight);
    color: transparent;
}

@media screen and (max-width : 620px) {
  #expText {
    -webkit-text-stroke: 1px  var(--textLight);
    color: transparent;
}
}
