/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');
/* Tailwind */
@import "tailwindcss";
/* Colors */
:root{
    --bgLight: #D9D9D9;
    --bgDark:  #222222;
    --textLight: #222222;
    --textDark:#ECECEC;
    --textSec:#4a5565;
    --sectionLight:#E6E6E6;
    --sectionDark:#292929;
    --shapeLight: #d2d2d2;
    --shapeDark:#000000;
    --accent:#8B5CF6;
}
/* Custom Font classes */
.font-inter {
    font-family: Inter;
}
.font-dm {
    font-family: DM Sans;
}
.font-logo{
    font-family:Berkshire Swash ;
}
body{
    background-color: var(--bgLight);
}
#expText {
    -webkit-text-stroke: 2px  var(--textLight);
    color: transparent;
}

